* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #ff6f00;  /* Colore che richiama il tema LEGO */
}

#loadButton {
    margin-top: 20px;
    padding: 10px 20px;
}

select, button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
}

#output {
    margin-top: 20px;
    font-size: 1rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
