body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: #ffcc00;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

input[type="file"] {
  margin: 1rem 0;
  padding: 0.5rem;
}

table {
  margin: 2rem auto;
  border-collapse: collapse;
  width: 80%;
}

table th, table td {
  border: 1px solid #999;
  padding: 0.5rem;
  background-color: #fff;
}

table th {
  background-color: #e6e6e6;
}
